.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
.env
docker/.env
**/tmp/
**/.venv/
main/xiaozhi-server/data/
main/xiaozhi-server/models/
main/manager-api/
main/manager-web/
main/manager-mobile/
main/digital-human/
docs/
*.md
!main/xiaozhi-server/**/*.md
